.btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: var(--accent);
  color: var(--additional-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.hero__btn {
  display: block;
  padding: 10px 24px;
  min-height: 50px;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms var(--timing-function);

  // @media screen and (min-width: $mobile) {
  //   max-width: 200px;
  //   // min-height: 50px;
  //   padding: 10px 24px;
  // }

  // @media screen and (min-width: $tablet) {
  //   max-width: 200px;
  //   // min-height: 50px;
  //   padding: 10px 24px;
  // }

  &:hover,
  &:focus {
    background-color: var(--bacground-btn-hover-color);
    box-shadow: var(--button-shadow);
  }
}

.portfolio__btns {
  padding: 6px 22px;
  border-radius: 4px;
  background-color: var(--section-bacground-color);
  color: var(--black-title);
  font-weight: 500;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  cursor: pointer;
  border: none;
  transition: 250ms var(--timing-function);

  &:hover,
  &:focus {
    background-color: var(--accent);
    color: var(--additional-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.form__button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  height: 50px;
  box-shadow: var(--button-shadow);
}

.form__button-icon {
  margin-left: 10px;
}

.modal__button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  min-width: 30px;
  height: 30px;
  fill: #000000;
  background-color: inherit;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 250ms var(--timing-function);

  &:hover,
  &:focus {
  fill: var(--accent);
}
}

.form__btn {
  display: block;
  margin: 0 auto;
  min-width: 200px;
  height: 50px;
  transition: 250ms var(--timing-function);
  box-shadow: var(--button-shadow);

  &:hover,
  &:focus {
  background-color: var(--bacground-btn-hover-color);
  box-shadow: var(--button-shadow);
}
}







