.section__clients {
  @media screen and (min-width: $mobile) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media screen and (min-width: $tablet) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media screen and (min-width: $desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients__title {
  @media screen and (min-width: $mobile) {
    margin-bottom: 30px;
  }

  @media screen and (min-width: $tablet) {
    margin-bottom: 30px;
  }

  @media screen and (min-width: $tablet) {
    margin-bottom: 50px;
  }

  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 0.86;
  text-align: center;
  color: var(--black-title);
}

.clients__list {
  @media screen and (min-width: $mobile) {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
  }

  @media screen and (min-width: $tablet) {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
  }

  display: flex;
  gap: 30px;
}

.clients__list {
  flex-basis: calc((100% - 150px) / 6);
}

.clients__link {
  display: block;
  width: 170px;
  height: 92px;
  padding: 16px 32px;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: 250ms var(--timing-function);

  &:hover,
  &:focus {
    fill: var(--accent);
    border: 1px solid var(--accent);
  }

  @media screen and (min-width: $mobile) {
    width: 210px;
    padding: 16px 52px;
  }

  @media screen and (min-width: $tablet) {
    width: 226px;
    padding: 16px 60px;
  }

  @media screen and (min-width: $desktop) {
    width: 170px;
    padding: 16px 32px;
  }
}
