.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-bacground-color);
}

.footer__container {
  @media screen and (max-width: 767px) {
    text-align: center;
  }

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    text-align: start;
  }
}
