.contacts {
  display: none;

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-direction: column;
    margin-left: auto;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.contacts__item {
  @media screen and (min-width: $tablet) {
    margin-right: 0;
    &:not(:last-child) {
      margin-bottom: 10px;
    }

    &:last-child {
      margin-right: 15px;
    }
  }

  @media screen and (min-width: $desktop) {
    &:not(:last-child) {
      margin-bottom: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &:not(:last-child) {
      margin-right: 50px;
    }
  }
}

.contacts__link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--basic-text);
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: 250ms var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent);
  }

  @media screen and (min-width: $tablet) {
    font-size: 12px;
    line-height: 1.17;
  }

  @media screen and (min-width: $desktop) {
    font-size: 14px;
    line-height: 1.14;
  }
}

.contacts__link-icon {
  fill: currentColor;

  @media screen and (min-width: $tablet) {
    margin-right: 8px;
  }

  @media screen and (min-width: $desktop) {
    margin-right: 10px;
    width: 16px;
    height: 12px;
  }
}

.tel_desc-size {
  @media screen and (min-width: $desktop) {
    width: 10px;
    height: 16px;
  }
}
