.contacts {
  display: none;

  @media screen and (min-width: $tablet) {
    display: flex;
    margin-left: auto;
  }
}

.contacts__item:not(:last-child) {
  margin-right: 50px;
}

.contacts__link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--basic-text);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: 250ms var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent);
  }
}
.contacts__link-icon {
  margin-right: 10px;
  fill: currentColor;
}
