.skill {
  @include section(0, 94px);

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.skill__title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--black-title);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.06em;
}

.skill__list {
  display: flex;
}

.skill__list-item {
  position: relative;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.skill__label {
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  padding: 27px 0;
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--additional-color);
}
