.strengths {
  // @include section;

  padding-top: 60px;
  padding-bottom: 60px;
}

.strengths__list {
  display: flex;
  gap: 30px;
}

.strengths__list-item {
  flex-basis: calc((100% - 90px) / 4);
}

.strengths__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--section-bacground-color);
  border-radius: 4px;
  width: 270px;
  height: 120px;
}

.strengths__title {
  margin-top: 30px;
  margin-bottom: 10px;
  color: var(--black-title);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.strengths__text {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--basic-text);
  line-height: 1.71;
}
