.team {
  @include section;
  background-color: var(--section-bacground-color);

  @media screen and (min-width: $mobile) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media screen and (min-width: $tablet) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media screen and (min-width: $desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--black-title);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.team__list {
  display: flex;

  @media screen and (min-width: $mobile) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.team__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  @media screen and (min-width: $mobile) {
    width: 450px;
  }

  @media screen and (min-width: $tablet) {
   width: 354px;
  }

  @media screen and (min-width: $desktop) {
    width: 270px;
   }
}

.member {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--additional-color);
  border-radius: 0px 0px 4px 4px;
}

.member__title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--black-title);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.member__skill {
  margin-top: 0;
  margin-bottom: 16px;
  color: var(--basic-text);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.member__list {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 206px;
  height: 44px;
}

.member__item:not(:last-child) {
  margin-right: 10px;
}

.member__link {
  display: flex;
  width: 44px;
  height: 44px;
  padding: 12px;
  border-radius: 50%;
  fill: #afb1b8;
  transition: 250ms var(--timing-function);

  &:hover,
  &:focus {
    fill: var(--additional-color);
    background-color: var(--accent);
  }
}
