:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --accent: #2196f3;
  --black-title: #212121;
  --basic-text: #757575;
  --second-btn-color: #000000;
  --secondary-color: rgba(255, 255, 255, 0.6);
  --additional-color: #ffffff;
  --bacground-btn-hover-color: #188ce8;
  --hero-bacground: #c4c4c4;
  --section-bacground-color: #f5f4fa;
  --footer-bacground-color: #2f303a;
  --button-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --main-font: "Roboto", sans-serif;
  --second-font: "Raleway", sans-serif;
}

// Breakepoints
$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;
